/* line 13, ../sass/main.scss */
body {
  font-size: 16px;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(13.7931%, rgba(100, 100, 225, 0.25)), color-stop(13.7931%, rgba(0, 0, 0, 0)), color-stop(17.24138%, rgba(0, 0, 0, 0)), color-stop(17.24138%, rgba(100, 100, 225, 0.25)), color-stop(31.03448%, rgba(100, 100, 225, 0.25)), color-stop(31.03448%, rgba(0, 0, 0, 0)), color-stop(34.48276%, rgba(0, 0, 0, 0)), color-stop(34.48276%, rgba(100, 100, 225, 0.25)), color-stop(48.27586%, rgba(100, 100, 225, 0.25)), color-stop(48.27586%, rgba(0, 0, 0, 0)), color-stop(51.72414%, rgba(0, 0, 0, 0)), color-stop(51.72414%, rgba(100, 100, 225, 0.25)), color-stop(65.51724%, rgba(100, 100, 225, 0.25)), color-stop(65.51724%, rgba(0, 0, 0, 0)), color-stop(68.96552%, rgba(0, 0, 0, 0)), color-stop(68.96552%, rgba(100, 100, 225, 0.25)), color-stop(82.75862%, rgba(100, 100, 225, 0.25)), color-stop(82.75862%, rgba(0, 0, 0, 0)), color-stop(86.2069%, rgba(0, 0, 0, 0)), color-stop(86.2069%, rgba(100, 100, 225, 0.25)), color-stop(100.0%, rgba(100, 100, 225, 0.25)), color-stop(100.0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 13.7931%, rgba(0, 0, 0, 0) 13.7931%, rgba(0, 0, 0, 0) 17.24138%, rgba(100, 100, 225, 0.25) 17.24138%, rgba(100, 100, 225, 0.25) 31.03448%, rgba(0, 0, 0, 0) 31.03448%, rgba(0, 0, 0, 0) 34.48276%, rgba(100, 100, 225, 0.25) 34.48276%, rgba(100, 100, 225, 0.25) 48.27586%, rgba(0, 0, 0, 0) 48.27586%, rgba(0, 0, 0, 0) 51.72414%, rgba(100, 100, 225, 0.25) 51.72414%, rgba(100, 100, 225, 0.25) 65.51724%, rgba(0, 0, 0, 0) 65.51724%, rgba(0, 0, 0, 0) 68.96552%, rgba(100, 100, 225, 0.25) 68.96552%, rgba(100, 100, 225, 0.25) 82.75862%, rgba(0, 0, 0, 0) 82.75862%, rgba(0, 0, 0, 0) 86.2069%, rgba(100, 100, 225, 0.25) 86.2069%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 13.7931%, rgba(0, 0, 0, 0) 13.7931%, rgba(0, 0, 0, 0) 17.24138%, rgba(100, 100, 225, 0.25) 17.24138%, rgba(100, 100, 225, 0.25) 31.03448%, rgba(0, 0, 0, 0) 31.03448%, rgba(0, 0, 0, 0) 34.48276%, rgba(100, 100, 225, 0.25) 34.48276%, rgba(100, 100, 225, 0.25) 48.27586%, rgba(0, 0, 0, 0) 48.27586%, rgba(0, 0, 0, 0) 51.72414%, rgba(100, 100, 225, 0.25) 51.72414%, rgba(100, 100, 225, 0.25) 65.51724%, rgba(0, 0, 0, 0) 65.51724%, rgba(0, 0, 0, 0) 68.96552%, rgba(100, 100, 225, 0.25) 68.96552%, rgba(100, 100, 225, 0.25) 82.75862%, rgba(0, 0, 0, 0) 82.75862%, rgba(0, 0, 0, 0) 86.2069%, rgba(100, 100, 225, 0.25) 86.2069%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 13.7931%, rgba(0, 0, 0, 0) 13.7931%, rgba(0, 0, 0, 0) 17.24138%, rgba(100, 100, 225, 0.25) 17.24138%, rgba(100, 100, 225, 0.25) 31.03448%, rgba(0, 0, 0, 0) 31.03448%, rgba(0, 0, 0, 0) 34.48276%, rgba(100, 100, 225, 0.25) 34.48276%, rgba(100, 100, 225, 0.25) 48.27586%, rgba(0, 0, 0, 0) 48.27586%, rgba(0, 0, 0, 0) 51.72414%, rgba(100, 100, 225, 0.25) 51.72414%, rgba(100, 100, 225, 0.25) 65.51724%, rgba(0, 0, 0, 0) 65.51724%, rgba(0, 0, 0, 0) 68.96552%, rgba(100, 100, 225, 0.25) 68.96552%, rgba(100, 100, 225, 0.25) 82.75862%, rgba(0, 0, 0, 0) 82.75862%, rgba(0, 0, 0, 0) 86.2069%, rgba(100, 100, 225, 0.25) 86.2069%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 13.7931%, rgba(0, 0, 0, 0) 13.7931%, rgba(0, 0, 0, 0) 17.24138%, rgba(100, 100, 225, 0.25) 17.24138%, rgba(100, 100, 225, 0.25) 31.03448%, rgba(0, 0, 0, 0) 31.03448%, rgba(0, 0, 0, 0) 34.48276%, rgba(100, 100, 225, 0.25) 34.48276%, rgba(100, 100, 225, 0.25) 48.27586%, rgba(0, 0, 0, 0) 48.27586%, rgba(0, 0, 0, 0) 51.72414%, rgba(100, 100, 225, 0.25) 51.72414%, rgba(100, 100, 225, 0.25) 65.51724%, rgba(0, 0, 0, 0) 65.51724%, rgba(0, 0, 0, 0) 68.96552%, rgba(100, 100, 225, 0.25) 68.96552%, rgba(100, 100, 225, 0.25) 82.75862%, rgba(0, 0, 0, 0) 82.75862%, rgba(0, 0, 0, 0) 86.2069%, rgba(100, 100, 225, 0.25) 86.2069%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
  *zoom: 1;
  max-width: 29em;
  _width: 29em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: -webkit-gradient(linear, left top, left bottom, from(#3498db), to(#4aa3df)) fixed;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }
  /* line 38, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  body:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 30em) {
    /* line 13, ../sass/main.scss */
    body {
      max-width: 34em; } }
  @media (min-width: 48em) {
    /* line 13, ../sass/main.scss */
    body {
      max-width: 49em; } }
  @media (min-width: 55em) {
    /* line 13, ../sass/main.scss */
    body {
      max-width: 59em; } }

/* line 27, ../sass/main.scss */
h1, h2 {
  font-family: 'Pacifico', 'cursive';
  text-align: center;
  font-weight: 300; }

/* line 33, ../sass/main.scss */
h1 {
  margin-top: 10px;
  font-size: 2.8em; }

/* line 37, ../sass/main.scss */
h2 {
  font-size: 1.02em;
  margin-top: -50px;
  margin-left: 35px; }

/* line 42, ../sass/main.scss */
i {
  margin-right: 5px; }

/* line 45, ../sass/main.scss */
a {
  color: white; }

/* line 48, ../sass/main.scss */
.reverse {
  unicode-bidi: bidi-override;
  direction: rtl; }

/* line 53, ../sass/main.scss */
.contact {
  width: 15em;
  margin: auto; }
  /* line 58, ../sass/main.scss */
  .contact ul {
    list-style: none; }
    /* line 11, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
    .contact ul li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0; }
    /* line 60, ../sass/main.scss */
    .contact ul li {
      line-height: 1.8em; }

@media (min-width: 30em) {
  /* line 67, ../sass/main.scss */
  h1 {
    font-size: 4.5em; }

  /* line 70, ../sass/main.scss */
  h2 {
    font-size: 1.7em;
    margin-top: -80px;
    margin-left: 55px; }

  /* line 75, ../sass/main.scss */
  .contact {
    width: 15em;
    font-size: 1.3em; } }
@media (min-width: 48em) {
  /* line 82, ../sass/main.scss */
  h1 {
    font-size: 5.3em; }

  /* line 85, ../sass/main.scss */
  h2 {
    font-size: 2em;
    margin-top: -95px;
    margin-left: 95px; }

  /* line 90, ../sass/main.scss */
  .contact {
    width: 16em;
    font-size: 1.3em; }

  /* line 94, ../sass/main.scss */
  i {
    margin-right: 10px; } }
@media (min-width: 55em) {
  /* line 100, ../sass/main.scss */
  body {
    font-weight: 100; }

  /* line 103, ../sass/main.scss */
  h1 {
    margin-top: 40px; }

  /* line 106, ../sass/main.scss */
  a {
    text-decoration: none; }
    /* line 108, ../sass/main.scss */
    a:hover {
      text-decoration: underline; } }
